<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <title>Bull and Bear</title>
</head>
<body>
<div class="container">
<header>

      <nav class="topNav">
        <nav class="addressNav">
          <a href="/">BULL AND BEAR</a>
        </nav>
        <a href="/menu">MENU</a>
        <a href="/events">EVENTS</a>
      </nav>
</header>



    <section class="menuItemFull">
      <section class="eachMenuItem"><a href="/menu"><h1>Bull and Bear - Menu</h1></a></section>
    {{#menuItems}}

    <section class="eachMenuItem">
      menu:{{menuName}}
      <div class="selectedContent">

    <a href="/{{itemName}}"><h2 class="itemNameClass">{{itemName}}</h2>
      <hr>

        <!-- <div><img class="itemImage" src="{{itemImage}}" alt=""></div> -->
        <h4 class="itemDescription">{{itemDescription}}</h4>
        <h5 class="price">
          {{itemPrice}}
      </h5>
        <!-- {{#itemExtra}}
        <h5 class="price">{{itemPrice}}</h5>
        {{/itemExtra}}

                    </a> -->
                  </div>

      </section>

            {{/menuItems}}




</section>
<aside class="warnLabelWakeCounty">*items may be cooked to order, consuming undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness</aside>


<footer>
  <!-- <a href="facebook.com/"><img class="fbIcon" src="assets/fbiconbullandbear.JPG" alt="follow us on facebook!"></a> -->
  <nav>
    <a href="/">Bull and Bear Restaurant</a>
    <a href="tel:+19198473617">919.847.3617</a><br>
    <a href="#">5442 Six Forks Rd, Raleigh, NC 27609</a>
  </nav>

</footer>
      </div>

</body>
</html>
